<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>1</key>
		<string>Ajay</string>
		<key>2</key>
		<string>56</string>
		<key>3</key>
		<string> ios</string>
		<key>4</key>
		<string>sgzbgdz</string>
		<key>5</key>
		<string>1</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Priya</string>
		<key>2</key>
		<string>20</string>
		<key>3</key>
		<string>Java</string>
		<key>4</key>
		<string>Pulinkunnu, Kacherippady, Kochi</string>
		<key>5</key>
		<string></string>
	</dict>
	<dict>
		<key>1</key>
		<string>Sabeen</string>
		<key>2</key>
		<string>26</string>
		<key>3</key>
		<string>Python</string>
		<key>4</key>
		<string>Ajith Nivas, Marad, Kochi</string>
		<key>5</key>
		<string>15</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Arun</string>
		<key>2</key>
		<string>Age</string>
		<key>3</key>
		<string>IOS</string>
		<key>4</key>
		<string>Skyline, kakkanad, Kochi</string>
		<key>5</key>
		<string>10</string>
	</dict>
	<dict>
		<key>1</key>
		<string>Amita</string>
		<key>2</key>
		<string>25</string>
		<key>3</key>
		<string>IOS</string>
		<key>4</key>
		<string>White House</string>
		<key>5</key>
		<string></string>
	</dict>
	<dict>
		<key>1</key>
		<string>Sameer</string>
		<key>2</key>
		<string>21</string>
		<key>3</key>
		<string>PHP</string>
		<key>4</key>
		<string>Arafat, Erklm North, Kochi</string>
		<key>5</key>
		<string>6</string>
	</dict>
</array>
</plist>
